<template>
      <div class="container">
          <div class="row">
            <Cabecera></Cabecera>
          </div>
          <hr>
          <div class="row">
              <Cuerpo></Cuerpo>
          </div>
          <hr>
          <div class="row">
              <Pie></Pie>
          </div>
      </div>
</template>

<script>
</script>

<style>
</style>
