<template lang="html">
  <div class="col-xs-12 col-sm-6">
    <p>{{mensaje}}</p>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      mensaje: 'Server Details are currently not updated'
    }
  }
}
</script>

<style lang="css" scoped>
  p {
    border: 1px solid blue;
  }
</style>
