<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mi Sitio Node de Estudio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-light">
			<a href="/" class="navbar-brand">Mi Sitio</a>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contacto</a></li>
				<li><a href="/about">About Me</a></li>
			</ul>
		</nav>
	</header>

	<!-- CONTENIDO CAMBIANTE DINAMICO -->
	<main>
		<div class="container">
			<div class="jumbotron text-center">
				<%- defineContent('body') %>
			</div>
		</div>
	</main>

	<footer>
		Estudio complet&aacute;ndose. Gonzalo Oviedo Lambert. Copyright &copy; 2017
	</footer>
</body>
</html>
