<template lang="html">
  <div class="col-xs-12">
      <header>
          <h1>Server Status</h1>
      </header>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
