<template lang="html">
  <div>
    <Estado></Estado>
    <Detalles></Detalles>
  </div>
</template>

<script>
import Detalles from './status/Detalles.vue'
import Estado from './status/Estado.vue'

export default {
  components: {
    'Detalles':Detalles,
    'Estado':Estado
  }
}
</script>

<style lang="css" scoped>

</style>
