<template lang="html">
  <div class="col-xs-12">
      <footer>
          <p>All Servers are managed here</p>
      </footer>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
