#container {
  width: 90%;
  margin: auto;
}

#logo {
  width: 26.37%; /* 270 / 1024 */
  float: left;
}

nav {
  width: 50%; /* 512 / 1024 */
  float: right;
  background-color: rgba(118, 198, 0, 0.4);
  margin-top: 35px;
}

nav li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 19px;
  text-transform: uppercase;
}

header img {
  width: 100%;
  margin: 15px 0px;
}

ul#cols li {
  display: inline-block;
  width: 20%;
  padding: 1%;
  margin: 0px 10px;
  background-color: rgba(50,100,0,0.3);
}

ul#cols li img {
  width: 100%;
}

ul#cols li h2 {
  font-size: 16px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
  margin: 6px; 0px;
}

footer {
  background-color: rgba(100,100,0,0.4);
  margin-top: 20px;
  overflow: auto;
}

#footerleft {
  float: left;
  width: 45%;
}

#footerright {
  width: 39%;
  float: right;
}

@media screen and (max-width:768px) {
  body {
    background-color: blue;
  }
}
