.hero {
	background-image: url();
}

.hero-content {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
}

footer {
	padding: 30px 0;
	font-size: 16px;
	color: #BBB;
	background: #222;
	text-align: center;
}
