<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmyeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Conjunto de Imagenes</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

    <h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="flash"></h3>

    <div class="">
        <h3 th:text="${page.number + 1} + ' de ' + ${page.totalPages}"/>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Page</th>
                <th>Imagen</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="image: ${page.content}">
                    <td th:text="${image.id}"/>
                    <td th:text="${image.name}"/>
                    <td><img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail"/></td>
                </tr>
            </tbody>
        </table>

        <form method="post" enctype="multipart/form-data" action="/images">
            <p><input type="file" name="file"/></p>
            <p><input type="submit" value="No tengas Miedo.. Adelante..."/></p>
        </form>
    </div>
</body>
</html>