<%- contentFor('body') %>
    <h1>www.norobot.cl</h1>
    <p>+56-9-63723603</p>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3"></div>
      <h2>Formulario de Contacto</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <form action="/contact" method="POST">

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" name="nombre" class="form-control">
        </div>

        <div class="form-group">
          <label>Celular</label>
          <input type="text" name="celular" class="form-control">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control">
        </div>

        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </div>

      </form>
    </div>
