<template lang="html">
  <p>{{mensaje}}</p>
</template>

<script>
export default {
  data: function() {
    return {
      mensaje: 'Server Details are currently not updated'
    }
  }
}
</script>

<style lang="css">
</style>
