<template lang="html">
  <ul class="list-group">
      <li
              class="list-group-item"
              v-for="index in 5">
          Server #{{ index }}
      </li>
  </ul>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
