table {
    border-collapse: collapse;
}

td,th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.thumbnail {
    max-width: 75px;
    max-height:75px;
}

.flash {
    background-color: bisque;
    padding:1em;

}